footer {
  background-color:var(--nav-bg-dark);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
}

.footer_content a {
  color:var(--text-light);
  font-size: 23px;
}

.footer_content a:hover {
  color:var(--text-light-hover);
  text-decoration: underline;
  transition: .3s;
}

.footer_content_github {
  width: 50px;
  height: 50px;

}

.footer_content_rs {
  width: 100px;
  height: 50px;
}

@media (max-width: 1100px) {
  .footer_content_github {
    width: 30px;
    height: 30px;
  
  }
  
  .footer_content_rs {
    width: 80px;
    height: 30px;
  } 
}

@media (max-width: 670px) {
  .footer_content_github {
    width: 20px;
    height: 20px;
  
  }
  
  .footer_content_rs {
    width: 70px;
    height: 20px;
  } 

  .footer__container {
    padding: 10px 0;
  }
}

@media (max-width: 470px) {
  .footer__container {
    padding: 5px 0;
  }
}
