.projects__list {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}

.projects__item_img {
  object-fit: contain;
  width: 300px;
  }

.projects__item:hover{
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.3);
  color: var(--text-dark-hover);
  transition: .3s;
  }

.projects__item_title {
  font-weight: 400;
  color: var(--text-dark);
  padding: 10px 15px 5px;
}

@media (max-width: 1135px) {
  .projects__list {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 370px) {
  .projects__item_img {
    width: 150px;
    }

    .projects__item_title {
      font-size: 10px;
      padding: 5px;
    }
 } 
