.section {
  background-color:var(--main-bg);
  width: 60%;
  padding: 30px 0;
}
.main {
  color: var(--text-dark-hover);
}

.title {
  padding: 60px 20px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  padding: 10px 0;
}

h2 {
  font-weight: 400;
  font-size: 30px;
}

.subtitle_skills {
  padding: 0 30px;
}

.subtitle_skills li{
  list-style-type: disc; 
}

.description_bold {
  font-weight: 700;
  padding: 5px 20px;
}

.description_bold ul {
  font-weight: 400;
  padding-left: 10px;
}

.description_bold span{
  opacity: 0.3;
  font-size: 14px;
  padding-left: 10px;
}

.description {
  font-weight: 400;
  padding: 0 10px;
}

.CV a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
} 

li p {
  font-weight: 400;
  padding: 5px 0 0 10px;
}

.description a {
  color: var(--text-dark-hover);
}

.description a:hover {
  color: var(--text-dark);
  text-decoration: underline;
  transition: .3s;
}

.experience__info {
  padding: 0 20px;
}

.none {
  display: none;
}

.location {
  padding-top: 15px;
}

.location span{
  font-weight: 700;
  padding-top: 15px;
}

/* header,
footer {
  display: none;
} */

@media (max-width: 850px) {
  .title {
    padding: 30px 20px;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 18px;
  }
} 

@media (max-width: 720px) {
  .aside__photo {
    width: 150px;
    height: 150px;
  }

  .title {
    padding: 10px 10px;
  }
} 

@media (max-width: 670px) {
  .section {
    width: 100%;
  }
} 

@media (max-width: 430px) {
 pre  {
   font-size: 10px;
 }
} 

@media (max-width: 330px) {
  pre  {
    font-size: 8px;
  }
 } 

