:root {
  /* color */
  --nav-bg-light: #CDCBC7;
  --nav-bg-dark: #0A0C18;
  --asaid-bg: #2B4362;
  --main-bg: #F2F3F5;
  --text-light:  #F2F3F5;
  --text-light-hover:  #AEC3D9;;
  --text-dark:#2B4362;
  --text-dark-hover: #0A0C18;
  --line-bg: #AEC3D9;

}
